html, body
{
    height: 100%; /* it is needed make height 100% */
    padding: 0px;
    margin: 0px;
}

header { background:blue;
 height: 10%
}

nav {
    height: 5%;
}

.mainMenuItem {
 
    background-color: aqua;
    border: 1;
    padding:1px;
    margin:1px;
    border-width: 1px;
    border-color: black;
}

main.content {
    background-color: red;
    height: 80%;
    display: flex;
    min-height: 400px;
}
.main-content, .left-content, .right-content {

    background-color:brown;
    padding:3px;
    margin: 2px;
    border: 2px;
    border-color: black;
    min-height: 300px;
}

.main-content {
 width: 70%
}

.left-content {
 width:15% 
}

.right-content {

    width: 15% ;
}

footer {background:yellow;
    height: 5%;
}