.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  background-color:#1F2544;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  
  display: flex;
  clear: both;
  background-color: lightgray;   
}

.App-left {
  
  background:#81689D;
  min-height: 85vh;
  width: 20vw;
}

.App-content {
  
  min-height: 85vh;
  width: 80vw;
  background-color: lightgray;   
}


.App-footer {
  min-height: 5vh;
  background:#1F2544
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
